* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  width: 100%;
  height: 100vh;
  background: #4F77FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
    width: 500px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up__wrapper{
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.bottom__wrapper {
    margin-top: -5%;
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    align-items: flex-end;
}
.circle{
    width: 50%;
    height: 55%;
    background-color: #1038BF;
    border-radius: 50%;
    z-index: 2;
}
.bottom__wrapper {
    margin-top: -20%;
    position: relative;
    justify-content: center;
}
.bottom__wrapper .circle:nth-child(1) {
    position: relative;
    left: 20px;
}
.bottom__wrapper .circle:nth-child(2) {
    position: relative;
    right: 20px;
}

.stick{
    margin-top: 80%;
    position: absolute;
    height: 33%;
    width:20%;
    background-color: #1038BF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first{
    position: absolute;
    width: 35%;
    height: 30%;
    border-radius: 50%;
    background-color: #4F77FF;
    margin-left: 40%;
    margin-top: 85%;
    z-index: 1;
}
.second{
    position: absolute;
    width: 35%;
    height: 30%;
    border-radius: 50%;
    background-color: #4F77FF;
    margin-right: 40%;
    margin-top: 85%;
    z-index: 1;
}
